body {
    background-color: #d4d8dd;
    font-family: 'Google sans', Calibri, 'Trebuchet MS', sans-serif;
}

.logo-header {
    background-color: #aab7b7;
    color: #1a2d42;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

nav {
    height: 52px;
    background-color: #2e4156;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    color: #d4d8dd;
    text-decoration: none;
    padding: 10px;
}

a {
    text-decoration: none;
    color: #1a2d42;
}

h1 {
    text-align: center;
}


